
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>
				<a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
			</h2>
			<h5 style="font-weight:200;">
				{{p.created.strftime("%b %d, %Y, %I:%M %p")}} by: 
				<span style="color:#3bb9ff">
					{{p.author}}
				</span> 
					Total likes: 
				<span style="color:#3bb9ff">
		<a href="/blog/{{p.key().id()}}/like">
		<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
		{{error}}

					{{p.likes}}
				</span>
			</h5>
			<hr>
			<h4>
				{{p.content}}
			</h4>

		</div>
	</div>
</div>