<style type="text/css">
</style>
<div class="container-fluid">
    <div class="row blog-post">
        <div class="col-md-12 ">
            <h2 class="text-center"><a href="/blog/{{p.key().id()}}">{{p.subject.upper()}}</a>
                </h2>
            <ul class="list-inline text-center text-muted">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{p.created.strftime("%b %d, %Y, %I:%M %p")}}
                </li>
                <li> <i class="fa fa-user" aria-hidden="true"></i> {{p.author}}
                </li>
                <li>
                    <a class="text-muted" href="/blog/{{p.key().id()}}/like"><i aria-hidden="true" class="fa fa-heart"></i> {{p.likes}}</a>
                </li>
            </ul>
            </h6>
            <br>
            <p>{{p.content}}</p>
            <br>
            <h6 class="text-right text-muted">
<a href="/blog/{{p.key().id()}}"><i class="fa fa-comment" aria-hidden="true"></i>
{% if p.comments.count() == 1 %}
    {{p.comments.count()}} Comment
{% elif p.comments.count() == 0 %}
     No Comments
{% else %}
    {{p.comments.count()}} Comments
{% endif %}
</a>
   <h6 class="text-right text-muted">
<a href="/blog/{{p.key().id()}}/newcomment"><i class="fa fa-plus" aria-hidden="true"></i> Add Comment</a>
</h6>
        </div>
    </div>
</div>
<br>
<br>
<br>
</body>

</html>
