<!-- 
 <div class="row">
	<div class="col-md-12 col-sm-6">
		<h2 class="section-heading">{{p.subject}}</h2>
        <hr class="style-two">
		<h5 class="text-right">{{p.created.strftime("%b %d, %Y, %I:%M %p")}} by: <span style="color:#3bb9ff">{{p.author}}</span> Total likes: <span style="color:#3bb9ff">{{p.likes}}</span>
		</h5>
    </div>
	<div class="col-md-6 col-sm-12">

	</div>
	<div class="row">
		<div class="col-md-12">
			<p>{{p.content}}</p>
		</div>
	</div>
<hr>


</div> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>
				<a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
			</h2>
			<h5 style="font-weight:200;">
				{{p.created.strftime("%b %d, %Y, %I:%M %p")}} by: 
				<span style="color:#3bb9ff">
					{{p.author}}
				</span> 
					Total likes: 
				<span style="color:#3bb9ff">
		<a href="/blog/{{p.key().id()}}/like">
		<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>

					{{p.likes}}
				</span>
			</h5>
			<hr>
			<h4>
				{{p.content}}
			</h4>

		</div>
	</div>
</div>